#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(3, 50px); */
    grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
    column-gap: 10px;
    row-gap: 15px;
    /* justify-items: center;
    align-items: center; */
}
#item-1{
    grid-area: header;
}

#item-2{
    grid-area: main;
}

#item-3{
    grid-area: sidebar;
}

#item-4{
    grid-area: footer;
}



.itens{
    border: 2px solid rgb(252, 4, 4);
    /* width: 50%;
    height: 50%; */
}