img{
    width: 700px;
}
@media(max-width:450px){
      body{
        background-color: aqua;
      } 
    img{
        width: 200px;
    }


    img:hover{
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 10px 10px 10px;
       }
}